<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.juzistar.m"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="21" />


    <!--百度sdk需要权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <!--允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application android:allowBackup="true"
                 android:hardwareAccelerated="false"
                 android:name=".application.AppAplication"
                 android:label="@string/app_name"
                 android:icon="@drawable/ic_launcher"
                 android:persistent="true"
                 android:supportsRtl="true"
                 android:theme="@style/ssn_ui_page_push_style">

        <!--Activity申明-->
        <activity android:name=".page.splash.SplashActivity"
                  android:label="@string/app_name"
                  android:theme="@style/ssn_ui_page_modal_fade_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--进入无动画-->
        <activity android:name=".page.splash.WelcomeActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"
                  android:theme="@style/ssn_ui_page_modal_fade_style">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--登录-->
        <activity android:name=".page.auth.LoginActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateHidden"
                  android:theme="@style/ssn_ui_page_modal_pop_style">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:launchMode="singleTask"
                  android:name=".page.main.MainTabActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/ssn_ui_page_root_style"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"/>
<!--adjustPan-->
        <activity android:name="com.ssn.framework.uikit.BaseActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ssn.framework.uikit.BaseNavActivity"
                  android:configChanges="keyboardHidden|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name="com.ssn.framework.uikit.UILockScreenKeyboard"
                  android:configChanges="keyboard|orientation|screenSize"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize|stateVisible"
                  android:theme="@style/ssn_lock_screen_keyboard_theme">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--百度服务-->
        <service android:name="com.baidu.location.f"
                 android:enabled="true"
                 android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!--百度 appkey-->
        <!--Debug debug.keystore-->
        <!--<meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="0goxkHdUkYga0qCBTpK2yCG5" />-->
        <!--Release-->
        <meta-data android:name="com.baidu.lbsapi.API_KEY" android:value="BXkktcVYEk1o1oI8DMrOST2M" />
    </application>
</manifest>
